title: Zac's digital garden
include: ["_pages"]
url: https://zacjones.dev/

minima:
  social_links:
    twitter: zacjones93
    github: zacjones93

permalink: pretty
relative_permalinks: false

plugins:
  - jekyll-last-modified-at

graph: ["nutrition", "CrossFit", "design", "business", "dev"]

sass:
  sass_dir: _sass
  style: :compressed

collections:
  notes:
    output: true
    permalink: /:path

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
